.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/background-main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 100px 0 0 0;
  overflow-y: auto;
  position: relative;
}

.home-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 1) 100%
  );
}

.home-container-second {
  margin-top: 0;
  padding: 30px;
  width: 100%;
  background-color: var(--primary-black);
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.mtg-logo-container {
  width: 100%;
}
.mtg-logo-container .mtg-logo {
  width: 25%;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
}

.home-card-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(96, 96, 96, 0.3);
  backdrop-filter: blur(4px);
  margin: 20px 0;
  padding: 30px 0 15px 0;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 60%;
  height: auto;
}

.home-card-search-container .form-search-card {
  margin: 25px 0px;
}
.home-card-search-container .home-card-search-description {
  width: 75%;
  padding: 0px 15px 30px 15px;
  font-size: 1.1rem;
  line-height: 25px;
  letter-spacing: 1.2px;
  font-weight: lighter;
  color: var(--primary-navbar-text-color);
}

.home-card-search-container input[type="text"] {
  width: 300px;
  height: 45px;
  padding: 10px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 8px;
  font-family: "Cinzel", serif;
  font-size: 18px;
  outline: none;
  color: var(--tertiary-text-color);
  margin-right: 14px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.home-card-search-container input[type="text"]::placeholder {
  color: var(--secondary-text-color);
}

.home-card-search-container button {
  background-color: var(--secondary-text-color);
  height: 45px;
  color: var(--primary-black);
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  font-family: "Cinzel", serif;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.home-card-search-container button:hover {
  background-color: var(--primary-navbar-text-color-active);
}

@media (max-width: 1024px) {
  .home-card-search-container {
    margin: 20px 0;
    padding: 30px 0 15px 0;
    width: 85%;
  }
  .mtg-logo-container .mtg-logo {
    width: 32%;
  }
  .home-card-search-container .home-card-search-description {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .home-card-search-container {
    margin: 20px 0;
    padding: 30px 0 15px 0;
    width: 88%;
  }
  .mtg-logo-container .mtg-logo {
    width: 82%;
  }
  .home-card-search-container input[type="text"] {
    margin-right: 0;
  }
  .home-card-search-container .home-card-search-description {
    width: 95%;
  }

  .home-card-search-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
}
