nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 65px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

nav ul {
  display: flex;
  width: 100%;
}

nav .nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

nav .nav-menu-items {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav .nav-auth-button {
  display: flex;
  margin-right: 1rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: #172554;
}

nav .active {
  background-color: #1d4ed8;
}

nav .menu-mobile {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu-mobile span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

/* Mobile */
@media (max-width: 480px) {
  nav .menu-mobile {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav .nav-menu-items {
    flex-direction: column;
    align-items: center;
  }

  nav .nav-auth-button {
    align-self: center;
    margin-right: 0;
  }

  nav .active {
    background-color: transparent;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
